<div class="container-fluid">
  <div class="col-7">
    <table class="table">
      <thead>
        <tr>
          <th class="h6">#</th>
          <th class="h6">Nombre común</th>
          <th class="h6">Tipo</th>
          <th class="h6">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="h5">
            <dd>1</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
        </tr>
        <tr>
          <td class="h5">
            <dd>2</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
          <td class="h6">
            <dd>Sin información</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>